<h1>Listing articles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.user_id %></td>
    <td><%= article.name %></td>
    <td><%= article.body %></td>

    <td><%= show_link article %></td>
    <!-- <td><%= edit_link article %></td>
    <td><%= destroy_link article %></td> -->
  </tr>
<% end %>
</table>

<br />

<%#= new_link Article %>
